#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=FMHY
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=mhnkjghegggljjnnnickdjfglmjajijg
Icon=brave-mhnkjghegggljjnnnickdjfglmjajijg-Default
StartupWMClass=crx_mhnkjghegggljjnnnickdjfglmjajijg
