[Desktop Entry]
Name[af]=Probleemrapportering
Name[ar]=التبليغ عن الأخطاء
Name[bg]=Problem Reporting
Name[bs]=Izvještavanje o problemu
Name[ca]=Presentació d'informes del problema
Name[cs]=Hlášení problémů
Name[da]=Problemrapportering
Name[de]=Problemberichterstattung
Name[en_GB]=Problem Reporting
Name[es]=Informe de problemas
Name[fa]=گزارش دادن مشکل
Name[fi]=Vikailmoitin
Name[fr]=Signalement de problèmes
Name[fur]=Segnalazion erôrs
Name[he]=דיווח על בעיות
Name[hi]=समस्या रिपोर्टिंग
Name[hu]=Hibajelentés
Name[id]=Pelaporan Masalah
Name[it]=Segnalazione errori
Name[ja]=問題の報告
Name[kk]=Мәселелерді хабарлау
Name[km]=_ការរាយការណ៍បញ្ហា
Name[ko]=문제 보고
Name[mr]=\sकळवताना अडचण
Name[nb]=Problemrapportering
Name[nl]=Probleemrapportage
Name[nn]=Problemrapportering
Name[pa]=ਸਮੱਸਿਆ ਬਾਰੇ ਜਾਣਕਾਰੀ
Name[pl]=Zgłaszanie problemów
Name[pt]=Comunicação de Problemas
Name[pt_BR]=Relato de Problemas
Name[ru]=Создание отчетов об ошибках
Name[sk]=Nahlásenie problému
Name[sq]=Raportimi i Problemeve
Name[sr]=Пријављивање проблема
Name[sv]=Problemrapportering
Name[tr]=Sorun Bildirme
Name[uk]=Звітування щодо проблем
Name[zh_CN]=问题报告
Name[zh_TW]=問題回報
Name[bn]=প্রতিবেদন প্রদানে ত্রুটি
Name[ka]=პრობლემის გადაგზავნა
Name=Problem Reporting
Comment[af]=Bekyk en rapporteer as toepassings omval
Comment[ar]=عرض وتبليغ عن إنهيار التطبيق
Comment[as]=এপ্লিকেচন স্খলনসমূহ চাওক আৰু সংবাদন কৰক
Comment[bg]=Преглед и докладване сривовете на приложение
Comment[bn_IN]=অ্যাপ্লিকেশনের বিপর্যয় সংক্রান্ত তথ্য নিরীক্ষণ ও দায়ের করুন
Comment[bs]=Pregledati i prijaviti rušenje aplikacija
Comment[ca]=Visualitzeu i informeu les panes de les aplicacions
Comment[cs]=Prohlédněte si a nahlaste chyby aplikací
Comment[da]=Vis og rapportér programnedbrud
Comment[de]=Applikationsabstürze ansehen und berichten
Comment[el]=Προβολή και αναφορά κατάρρευσης εφαρμογών
Comment[en_GB]=View and report application crashes
Comment[es]=Vista e informe de cuelgues de aplicaciones
Comment[fa]=دیدن و گزارش کرش های برنامه
Comment[fi]=Katsele ja raportoi ohjelmien kaatumisia
Comment[fr]=Visualiser et signaler les incidents de l’application
Comment[fur]=Visualize e segnale i colàs des aplicazions
Comment[gu]=કાર્યક્રમ તૂટવાનું દર્શાવો અને અહેવાલ કરો
Comment[he]=דיווח על קריסת יישומים וצפייה בהם
Comment[hi]=अनुप्रयोग क्रैश को देखें और रिपोर्ट करें
Comment[hu]=Alkalmazás összeomlások megtekintése és jelentése
Comment[id]=Lihat dan laporkan kerusakan aplikasi
Comment[it]=Visualizza e segnala i crash dell'applicazione
Comment[ja]=アプリケーションクラッシュの表示とレポート
Comment[km]=បង្ហាញ និងរាយការណ៍អំពីការមិនដំណើរការរបស់កម្មវិធី
Comment[kn]=ಅನ್ವಯದ ಕುಸಿತವನ್ನು ನೋಡಿ ಹಾಗು ವರದಿ ಮಾಡಿ
Comment[ko]=응용프로그램 충돌을 확인 및 보고합니다
Comment[ml]=പ്രയോഗത്തിന്റെ തകരാറുകള്‍ രേഖപ്പെടുത്തുക
Comment[mr]=ऍप्लिकेशन क्रॅश पहा व कळवा
Comment[nb]=Vis og rapporter programkrasj
Comment[nl]=Bekijk en rapporteer crashes van toepassingen
Comment[nn]=Syn og rapporter programkræsj
Comment[or]=ପ୍ରୟୋଗ ନଷ୍ଟଗୁଡ଼ିକୁ ଦେଖନ୍ତୁ ଏବଂ ଖବର କରନ୍ତୁ
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨ ਕਰੈਸ਼ ਵੇਖੋ ਅਤੇ ਰਿਪੋਰਟ ਕਰੋ
Comment[pl]=Wyświetlanie i zgłaszanie awarii aplikacji
Comment[pt]=Ver e reportar falhas da aplicação
Comment[pt_BR]=Visualizar e relatar travamentos de aplicativos
Comment[ru]=Просмотреть сбои приложения и создать отчет
Comment[sk]=Zobrazenie a nahlasovanie pádov aplikácií
Comment[sq]=Shiko dhe raporto dështime të aplikacioneve
Comment[sr]=Види и пријави програмски пад
Comment[sr@latin]=Vidi i prijavi programski pad
Comment[sv]=Visa och rapportera programkrascher
Comment[ta]=பயன்பாட்டு கிரஷ்களை பார்த்து அறிக்கையிடவும் 
Comment[te]=అనువర్తనము క్రాషెస్‌ను దర్శించుము మరియు నివేదించుము
Comment[tr]=Uygulama çökmelerini görüntüle ve bildir
Comment[uk]=Перегляд і звітування щодо аварійних завершень програм
Comment[zh_CN]=查看并报告应用程序崩溃
Comment[zh_TW]=檢視與回報應用程式錯誤
Comment[bn]=অ্যাপ্লিকেশন ক্র্যাশগুলি দেখুন এবং প্রতিবেদন করুন
Comment[ka]=აპლიკაციების ავარიული დასრულების ნახვა და გადაგზავნა
Comment=View and report application crashes
Keywords[af]=abrt;omval;fout;gogga;bug reporting;crash logger;
Keywords[ar]=abrt;تبليغ العلل;تسجيل الانهيارات;
Keywords[bs]=abrt;buba izvještavanja:rušenja dnevnik;
Keywords[ca]=abrt;informar d'errors;registrador de panes;
Keywords[cs]=abrt;reportování chyb;zaznamenávač pádů;
Keywords[da]=abrt;bug reporting;fejlrapportering;crash logger;nedbrudslogger;
Keywords[de]=abrt; Fehlerberichterstattung;Absturz-Datenlogger;
Keywords[en_GB]=abrt;bug reporting;crash logger;
Keywords[es]=abrt;informe de errores;bug reporting;crash logger;
Keywords[fi]=abrt;bug reporting;crash logger;bugi;ongelma;kaatuminen;
Keywords[fr]=abrt;signalement de bugs;enregistreur d’incidents;
Keywords[fur]=abrt;segnalazion erôr;regjistradôr colàs;
Keywords[he]=abrt;bug reporting;crash logger;בעיות;קריסה;דיווח;תקלה;בעיה;תקלות;
Keywords[hi]=स्वचालित बग रिपोर्टिंग उपकरण; बग रिपोर्टिंग; क्रैश लॉगर;
Keywords[hu]=abrt;hibajelentés;összeomlásjelentés;
Keywords[id]=abrt;pelaporan bug;crash logger;
Keywords[it]=errore;problema;abrt;bug reporting;crash logger;
Keywords[ja]=abrt;バグ報告;クラッシュログ機能;
Keywords[ko]=abrt; 버그 보고;충돌 기록기;
Keywords[mr]=abrt;bug reporting;crash logger;
Keywords[nb]=abrt;feilrapportering;krasjlogg;
Keywords[nl]=abrt;bug reportage;crash logger;
Keywords[nn]=abrt;feilrapportering;kræsjloggar;
Keywords[pl]=abrt;zgłaszanie błędów;bugów;awarii;problemów;
Keywords[pt]=abrt;comunicação de erros;reporte de erros;registo de falhas;
Keywords[pt_BR]=abrt;relatório de erro;relatório de bug;registrador de travamento;bug reporting;crash logger;
Keywords[ru]=abrt;bug reporting;crash logger;абрт;ошибки;оповещение;сбой;журнал;
Keywords[sk]=abrt;nahlásenie chyby;záznam o zlyhaní;chyba;zlyhanie;
Keywords[sq]=abrt;raportimi i problemeve;dokumentuesi i dështimeve;
Keywords[sr]=abrt;bug reporting;crash logger;абрт;пријава багова;пријава грешака;бележење падова;prijava bagova;prijava grešaka;beleženje padova;
Keywords[sv]=abrt;felrapportering;kraschloggare;
Keywords[tr]=abrt;hata bildirme;çökme günlüğü kaydedici;
Keywords[uk]=abrt;bug reporting;crash logger;абрт;вади;сповіщення;аварія;журнал;записи аварій;
Keywords[zh_CN]=abrt;bug reporting;crash logger;
Keywords[zh_TW]=abrt;bug reporting;crash logger;臭蟲回報;當機紀錄器;崩潰記錄器;
Keywords[ka]=abrt;bug reporting;crash logger;შეცდომებისგადაგზავნა;
Keywords=abrt;bug reporting;crash logger;
# Translators: while it is possible to have localized icons, this should *not* be translated in any way, shape or form.
Icon=org.freedesktop.GnomeAbrt
Exec=gnome-abrt
Terminal=false
Type=Application
Categories=System;X-GNOME-Utilities;
StartupNotify=true
X-Desktop-File-Install-Version=0.15
