/* Set a translucent background for the window */
window {
    background-color: #121011;
}

/* Style the text in the list */
listview {
    color: #ffffff;
    font-family: monospace;
    font-size: 14px;
    white-space: pre; 
}

